
<!DOCTYPE html>
<html>
{% from "_formhelpers.html" import render_field %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imitation-weibo 重设密码</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    <!-- 图标 -->
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'img/weibo.png') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename = 'img/weibo.png') }}" type="image/x-icon">
</head>
<body>
<div class="index-main">
    <div class="index-main-body">
        <!-- logo -->
        <div class="index-header">
            <h1 class="logo"></h1>
            <h2 class="subtitle">一个基于Python-Flask的微博</h2>
        </div>

        <div class="sign-flow">
            {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}

            <div class="sign-login" style="display: block">
                <form method="post" novalidate="novalidate">
                    {{ form.hidden_tag() }}
                        <div class="input-wrapper">
                            {{ render_field(form.email,placeholder="邮箱") }}
                        </div>
                    <div class="button-wrapper">
                        {{ render_field(form.submit, class="sign-btn") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- 底部 -->
<div class="footer">
    <span>@2016 Imitation-weibo</span>
    <span class="dot">·</span>
    <a target="_blank" href="{{ url_for('main.index') }}">首页</a>
    <span class="dot">·</span>
    <a target="_blank" href="#">联系我</a>
</div>

<canvas id="canvas" style="position: absolute; top: 0; left: 0; z-index: -1"></canvas>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/canvas.js') }}"></script>
</body>
</html>